@import "tailwindcss";

@theme {
    --color-accent-soft: #68ff7e;
    --color-accent: #00a166;
    --color-accent-light: #008554;
    --color-accent-deep: #004d31;

    --color-text: #ffffff;
    --color-text-dark: #000000;

    --color-highlight: #ffd700;
}

body {
    font-family: var(--font-body), sans-serif;
    background: var(--color-accent-deep);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
    letter-spacing: -0.02em;
}

.bobbing {
  animation: bobbing 3s ease-in-out infinite;
}

@keyframes bobbing {
  0%, 100% { transform: translateY(1%); }
  50% { transform: translateY(-1%); }
}